<div class="content max-w-[713px]">
    <div class="main-title mb-6">
        <h1 class="text-secondary text-3xl font-bold">
            Estatuto Editorial
        </h1>
    </div>
    <div class="body">
        <p class="text-grayText text-lg leading-[26px]">
            Pontual é um jornal online, actualizável a qualquer hora, acessível na Internet
            através do endereço <span class="underline">www.pontual.com</span>, que disponibiliza informação geral
            independente e pluralista, sem qualquer dependência de natureza política,
            ideológica e económica.
        </p>
        <p class="text-grayText text-lg leading-[26px]">
            Pontual é concebido, redigido e produzido por jornalistas profissionais, que se
            comprometem a respeitar os direitos e deveres previstos na Constituição da
            República de Angola, na Lei de Imprensa e no Código Deontológico dos Jornalistas.
        </p>
        <p class="text-grayText text-lg leading-[26px]">
            Trata-se de um órgão de informação que recusa o sensacionalismo e é orientado
            por critérios de rigor, isenção e honestidade no tratamento das notícias.
        </p>
        <p class="text-grayText text-lg leading-[26px]">
            Assumimos o compromisso de respeitar sempre o sigilo das nossas fontes de
            informação e de nunca quebrar esse princípio fundamental.
        </p>
        <p class="text-grayText text-lg leading-[26px]">
            Este importante órgão de comunicação define as suas prioridades informativas
            exclusivamente por critérios de interesse público, de relevância e de utilidade
            da informação e rejeita qualquer tipo de censura ou limitação à liberdade de
            informar.
        </p>
    </div>
</div>